:root {
  --primary: #9dbdc6;
  --secondary: #daeaef;
  --tertiary: #ff3d2e;
  --light: #ffffff;
  --dark: #272f32;
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}


.light-txt {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-weight: 300;
  color: var(--light);
  line-height: 1.5;
  font-size: 16px;
}

.background-img {
  background-image: url('./assets/header/background.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, .5);
  margin: 1px;
}

.header-img {
  background-image: url('./assets/header/headerimg.JPG');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
  border: 1px solid rgba(0, 0, 0, .5);
  margin: 1px;
}

.header-txt {
  font-family: 'IBM Plex Serif', serif;
}

.about-img {
  max-width: auto;
}

.about-txt {
  font-family: 'IBM Plex Serif', serif;
  font-size: larger;
  font-weight: bold;
}

/*My Work Section Styling */

.work {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.work h3 {
  padding-left: 20px;
}

/* Image Behavior */
img {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(3, 3, 3, 0.849);
}

img:hover{
  opacity: 0.7;    
}

/* First Application Styling */

#app-one-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#app-one-card img {
  max-width: 100%;
  height: auto;
}

/* Remaining Application Stylings */

.cards {
  display: flex;
  display: inline;
  flex-direction: row;
  text-align: center;
}

.cards img {
  max-width: 60%;
  height: auto;
  flex: 1 0 50%;
  position: relative;
}

.other-projects {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

}

.nv-lnk-txt {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: larger;
}

.nv-lnk-txt:hover {
  color: orange;
}

.resume-btn {
  position: relative;
  background-color: #5ba1c9;
  border: none;
  font-size: larger;
  color: #FFFFFF;
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.resume-btn:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.resume-btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.resume-btn:hover {
  opacity: 0.8;
}

/* Media Queries Styling for Larger Screens */

@media screen and (min-width: 1798px) {
  .work {
      max-width: 1798px;
  }
}
  
/* Media Queries Styling for Smaller Screens */

@media screen and (max-width: 980px) {
  header nav {
      display: flex;
      flex-direction: column;
  }
}

/* Styling for Tablets and Smaller */
@media screen and (max-width: 768px) {
  
}

/* Styling Mobile Phones and Smaller */

@media screen and (max-width: 575px) {
  header {
      display: flex;
      flex-direction: column;
  }

  header nav ul li a {
      font-size: 12x;
      margin: 0;
  }
}

/* Styling iPhone Screens */

@media screen and (max-width: 376px) {
  header nav ul li a {
      font-size: 18px;
  }

  .about h2 {
      font-size: 20px;
  }

  .about p {
      text-align: center;
      margin: 0;
      font-size: 18px;
  }

  section h2 {
      font-size: 20px;
  }

  .contact p {
      font-size: 18px;
  }

  .contact a {
      font-size: 18px;
  }

  footer p {
      font-size: 16px;
  }
}
